/* Сайт клуба настольных игр «BoardFun»
Необходимые элементы

1. Шапка сайта

Название клуба BoardFun
Короткое описание (например:
 Клуб настольных игр для всех)

2. Раздел «О клубе»

Краткое описание клуба (2–3 предложения)

3. Раздел «Популярные игры»

Создать карточки 3 настольных игр.
Каждая карточка должна содержать:

изображение игры
название игры
краткое описание

4. Таблица расписания встреч

Создать таблицу со столбцами:

День
Время
Игра

Минимум 3 строки.

5. Раздел «Почему стоит прийти»

Создать список преимуществ клуба, например:

дружелюбная атмосфера
новые игры каждую неделю
турниры и призы

6. Подвал сайта

текст: Клуб настольных игр BoardFun
год создания сайта


Пожелания по оформлению
Цветовая гамма:

оранжевый #FFB74D
коричневый #5D4037
белый #FFFFFF
светло-бежевый #FFF3E0 (для фона или таблицы)
тёмно-коричневый #3E2723 (для текста или 
акцентов)

Использовать:

скруглённые углы у карточек игр
внутренние отступы в блоках
внешние отступы между разделами
границы у таблицы и блоков */
body{
    margin: 0px;
    color:#3E2723 ;
    background-color:#FFF3E0;
}
.container{
 width: 100%;
}
header{
    text-align: center;
    font-size: 24px;
    background-color:#FFB74D;
    width:100%;
    height: auto;
    padding: 20px;
    border: 8px #3E2723  solid;
    border-radius: 20px;
}
.ok{
    margin:10px  10px;
    border: 6px #3E2723  solid;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}
.poig{
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 420px;
    left: 0; 
    width: 100%;
}
.gl{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    gap: 20px;
    margin:20px auto;
    flex-wrap: wrap;
    border:6px solid #3E2723;
    border-radius:20px;
    padding: 25px;
}
.hodin{
    text-align:center;
}
.div_1{
    border: 8px #3E2723 solid;
    border-radius: 20px;
    width: 200px;
    padding: 20px;
    font-size:16px;
    background:#FFB74D;
    margin-top: 30px;
}
.div_1 img{
    width: 150px;
    height: 150px;
    text-align: center;
}
.div_2{
    border: 8px #3E2723 solid;
    border-radius: 20px;
    width: 200px;
    padding: 20px;
    font-size:16px;
    background:#FFB74D;
    margin-top: 30px;
}
.div_2 img{
    width: 150px;
    height: 150px;
    text-align: center;
}
.div_3{
    border: 8px #3E2723 solid;
    border-radius: 20px;
    width: 200px;
    padding: 20px;
    font-size:16px;
    background:#FFB74D;
    margin-top: 30px;
}
.div_3 img{
    width: 150px;
    height:150px;
    
}
table{
    border-collapse:collapse;
    width: 80%;
    margin: 25px auto;
    font-size: 16px;
    height: 120px;
    border-radius: 20px;

}
td,th{
    border:  2px solid #3E2723 ;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
th{
    background-color:#FFB74D;
}
.tobl{
    border: 8px #3E2723  solid;
    border-radius: 20px;
    padding: 20px;
}
.psp{
    margin:10px  10px;
    border: 6px   solid;
    padding: 10px;
    width: 450px;
    font-size: 20px;
    border: 8px #3E2723  solid;
    border-radius: 20px;
}
footer{
    text-align: center;
    font-size: 24px;
    background-color: #FFB74D;
    width:100%;
    height: auto;
    padding: 20px;
    border: 8px #3E2723  solid;
    border-radius: 20px;
}
